﻿@model ExpertSystem.Models.Wizard

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<link href="~/Content/home.css" rel="stylesheet" />

<div class="container" style="padding-top:100px">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                <p>User Info</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Syndromes</p>
            </div>
        </div>
    </div>
    <form action="/Home/Index" method="post">
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>Patient Information</h3>
                    <div class="form-group">
                        <label class="control-label">Patient Name</label>
                        <input maxlength="100" id="PatientName" name="PatientName" type="text" required="required" class="form-control" placeholder="Enter Patient Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Patient Age</label>
                        <input maxlength="3" type="number" id="PatientAge" name="PatientAge" required="required" class="form-control" placeholder="Enter Patient Age" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <input maxlength="100" id="Location" name="Location" type="text" required="required" class="form-control" placeholder="Enter Patient Location" />
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-12">
                <div class="col-md-12">
                    <h3>Syndromes</h3>


                    <div class="row">
                        <div class="panel-body">
                            <div class="input-group control-group after-add-more">
                                <input required name="Syndromes[]" type="text" id="ajax" list="json-datalist" placeholder="Enter syndrome" class="form-control">
                                <datalist id="json-datalist"></datalist>
                                <div class="input-group-btn">
                                    <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
                                </div>
                            </div>

                            <div class="copy-fields hide">
                                <div class="control-group input-group" style="margin-top:10px">
                                    <input type="text" id="ajax" name="Syndromes[]" list="json-datalist" placeholder="Enter syndrome" class="form-control">
                                    <datalist id="json-datalist"></datalist>
                                    <div class="input-group-btn">
                                        <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> Remove</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
                </div>
            </div>
        </div>

    </form>
</div>
<script>
    var _url = '@Url.Action("List")';
</script>
<script src="~/Scripts/home.js"></script>
