﻿@model ExpertSystem.Models.DiagnosisResult

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>

<link href="~/Content/result.css" rel="stylesheet" />

<form action="/Home/Result" method="post">

    <div class="row" style="padding-top: 100px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Add new diagnosis</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6  col-lg-12">
                            <div class="form-group">
                                <label class="control-label">Diagnosis</label>
                                <input id="DiagnosisName" name="DiagnosisName" type="text" class="form-control" placeholder="Enter Diagnosis" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea id="DiagnosisDescription" name="DiagnosisDescription" class="form-control" placeholder="Enter Description" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <div class="form-group">
                                <label class="control-label">Treatment</label>
                                <textarea id="DiagnosisTreatment" name="DiagnosisTreatment" class="form-control" placeholder="Enter Treatment" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Select a diagnosis</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <h4>Results</h4>
                            <div class="funkyradio">
                                @foreach (var result in Model.Diagnosises)
                                {
                                    <div class="funkyradio-primary">
                                        <input type="radio" name="DiagnosisId" id="@result.Value" value="@result.Value" />
                                        <label for="@result.Value">@result.Text</label>
                                        <button type="button" class="btn btn-sm btn-success" onclick="play('@result.Text')"><span class="glyphicon glyphicon-play"></span></button>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Save" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function play(txt) {
        var msg = new SpeechSynthesisUtterance(txt);
        window.speechSynthesis.speak(msg);
    }
</script>